<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit SubCancer Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="form-group">
          <label class="form-control-label">SubCancerType Title</label>
          <input type="text" class="form-control" placeholder="title" name="title" [(ngModel)]="SubCancerType.title">

        </div>
        <div class="form-group">
          <label class="form-control-label">Select SubCancerLevels</label>
          <div>
            <select>
              <option *ngFor="let level of SubCancerTypeLevels">{{level.title}}</option>
            </select>
          </div>

<!--          <p-multiSelect  class="form-control"  [options]="SubCancerTypeLevels"  #multiselect-->
<!--                          id="regimens" [panelStyle]="{minWidth:'18em'}">-->

<!--            <ng-template let-value pTemplate="selectedItems">-->
<!--              <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">-->
<!--                <span>{{val.title}}</span>-->
<!--              </div>-->
<!--              <span *ngIf="!value || value.length === 0" class="ui-multiselected-empty-token ui-corner-all">Choose</span>-->
<!--            </ng-template>-->
<!--          </p-multiSelect>-->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="close($event)">Cancel</button>
      <button class="btn btn-primary" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
